@charset "ISO-8859-1";

body, html {
	padding: 0;
	margin: 0;
}

body {
	*font-family: 'Playfair Display', serif;
	background: #F8F8E9;
}

a, a:hover {
	text-decoration: none;
}

.container-fluid {
	padding: 0;
	top: 10%;
}

.separator {
	height: 3px;
	width: 15%;
	border: none;
	box-shadow: none;
	background-color: #3498DB;
}
/* header*/
.header {
	background-color: #3498DB;
	height: 70px;
	line-height: 70px;
}

.logo {
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	margin: 1%;
}

.menu {
	float: right;
}

.menu a {
	color: #ffffff;
	margin-right: 20px;
}

.menu a:hover {
	color: #2C3E50;
}

/* banniere*/
.banner {
	width: 100%;
	max-width: 100%;
}

.ban {
	width: 100%;
	max-width: 100%;
}

.inner-banner {
	/* 	position: absolute; */
	width: 100%;
	text-align: center;
	color: #000000;
	text-shadow: 1px 1px 20px #f3f4e12;
}

.table {
	border: medium solid black;
	border: 1px solid Black;
	width: 99%;
	margin-left: 0.5%;
	line-height: 20px; /* hauteur ligne du tableau  */
	color: #000000;
}

td {
/* 	color: #000000; */
	text-align: center;
}

th {
/* 	color: #000000; */
	text-align: center;
}

/* about*/
#about {
	text-align: center;
	padding-top: 2%;
}

.about article {
	margin-top: 2%;
}

.about article h2 {
	text-align: center;
}

/* idClient*/

/* Footer*/
.main {
	width: 500 px;
	padding: 15 px;
	font-size: 0.8em;
}

.row {
	margin: 2%;
	pading: 2%;
}

.entete {
	color: #000000;
	text-decoration: none;
	text-align: center;
}